<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= Document %></title>
    <!-- imported tailwind CSS for styling -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <!-- main container with full width and minimum screen height -->
    <div class="main">  
    
        <!-- form section with padding and text color white -->
        <div class="form">
 
            <!-- form to submit a new task -->
            <form action="/create" method="POST">

                
                <input class="input1" type="text" placeholder="Title goes here" name="title">   <!-- input field for entering the task title -->
                
                <textarea class="input1" placeholder="Enter the details of your task here" name="details"></textarea>  <!-- this is the text area to enter the details about the task -->
                
                <input type="submit" value="Create Task">              <!-- this is the submit button for creating the task -->

            </form>

        </div>

        <!-- section to display the created tasks -->
        <div class="tasks">
            
            <% if (files.length > 0){ %>             <!-- check if there are any tasks -->
                
            <% files.forEach(function(val){ %>       <!-- loop through each file(task) -->

                <!-- div is the container for the tasks card and styling is added -->
                <div class="tasks">
                    
                    <h2><%= val %></h2>                           <!-- displays the task tittl(file name) -->
      
                    <div class="links">
                        <a href="/file/<%= val %>">Read More...</a>                            <!-- to to read the content inside the file -->
                        <a class="a1 text-zinc-600" href="/edit/<%= val %>">Edit Filename</a>  <!-- link to edit the name of the file -->
                    </div>
                    
                </div>
              <!-- here the loop ends -->
                <% })%>

                <!-- executes only if there are no tasks -->
            <%}  else {%>
                <h3 class="no-task">No tasks yet.</h3>
            <% } %>    
        </div>
    </div>
</body>
</html>